section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #f2f2f2;
  border-radius: 2%;
  width: 400px;
  margin: auto;
}

div {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header {
  background-color: #fff;
  padding: 10px 20px;
  font-size:20px;
  font-weight: 600;
}

span {
  padding: 15px;
  cursor: pointer;
  display: flex;
  gap:4px;
  align-items: center;
}

span:not(.header):hover {
  border-radius: 15px;
  background-color: white;
  box-shadow: 1px 2px 5px gray;
  transition: all 0.5s;
}
svg{
  width: 15px;
  height: 15px;
}